.search-results .search-bar-container input {
    width: 90%;
}

.search-results .search-result {
    font-family: "JetBrains Mono", monospace;
}


.search-results .search-result a{
    text-decoration: none;
    color: #a69ae9;
}

.search-results .search-result a:first-of-type{
    text-decoration: none;
    color: #716d87;
}

.search-results .search-result a:hover{
    color: #7e89be;
}

.search-results .search-result p {
    color: #99a1ca;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding: 0 40px;
    gap: 20px;
}

.search-result {
    padding: 5px 10px;
    border-left: 1px solid #a69ae900;
}

.search-result:hover {
    border-left: 1px solid #a69ae9;
}